.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 5px;
    color: rgb(89, 124, 98);
}

.grid-item {
    background-color: rgb(241, 227, 206);
    border: 1px solid;
    padding: 40px;
}

.container {
    background: rgb(102, 144, 112);
    margin: 50px;
    padding: 20px;
    border-radius: 15px;
}

.col {
    border: rgb(241, 227, 206) solid;
    padding: 40px
}

.row {
    margin: 5px;
} 

.player-turn {
    background-color: rgb(241, 227, 206);
    border: 4px dotted rgb(9, 84, 103);
}

img {
    max-width: 100%;
    max-height: 100%;
}

body {
    background-color: rgb(150, 83, 72);
    color: rgb(9, 84, 103);
    text-align: center;
    font-family: 'Lora', serif;
    font-family: 'Poiret One', cursive;
    font-family: 'Tilt Prism', cursive;
    font-weight: bold;
}

button {
    background-color: rgb(241, 227, 206);
    margin-top: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif
}