.grid-container {
    display: grid;
    grid-template-columns: 150px 150px 150px; /* keeps columns the same size before and after text added*/
    grid-template-rows: 150px 150px 150px; /* keeps columns the same size before and after text added*/
    color: rgb(9, 84, 103);
    justify-content: center; /*keeps gameboard centered upon window resize*/
}

.grid-item {
    background-color: rgb(241, 227, 206);
    padding: 50px;
    display: flex;
    align-items: center; /*keeps text centered */
    justify-content: center; /*keeps text centered */
}

#item0, #item1, #item3, #item4 {
    border-right: 3px solid;
    border-bottom: 3px solid;
}

#item2, #item5 {
    border-bottom: 3px solid;
}

#item6, #item7 {
    border-right: 3px solid;
}


.container {
    background: rgb(102, 144, 112);
    margin: 50px;
    padding: 20px;
    border-radius: 15px;
}

.col {
    border: rgb(241, 227, 206) solid;
    padding: 40px
}

.row {
    margin: 5px;
} 

img {
    max-width: 100%;
}

body {
    background-color: rgb(150, 83, 72);
    color: rgb(9, 84, 103);
    text-align: center;
    font-family: 'Lora', serif;
    font-family: 'Poiret One', cursive;
    font-family: 'Tilt Prism', cursive;
    font-weight: bold;
}

button {
    background-color: rgb(241, 227, 206);
    margin-top: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.content {
    max-width: 100%; /* stretches content to be the max width of the browser window */
    margin: auto;
}

.player-turn { /*indicates player turn */
    background-color: rgb(241, 227, 206);
    border: 4px dotted rgb(9, 84, 103);
}